<p id="notice"><%= notice %></p>

<h1>Song Details</h1>

<table class="table table-bordered table-striped">
	<tbody>
		<tr>
			<td><strong>Title:</strong></td>
			<td><%= @idea.name %></td>
		</tr>
		<tr>
			<td><strong>Composer:</strong></td>
			<td><%= @idea.description %></td>
		</tr>
		<tr>
			<td><strong>Picture:</strong></td>
			<td><%= image_tag(@idea.picture_url, :width => 150, :class => "img-thumbnail") if @idea.picture.present? %></td>
		</tr>
	</tbody>
</table>

<%= link_to 'Edit', edit_idea_path(@idea), :class => "btn btn-warning btn-xs"  %> |
<%= link_to 'Back', ideas_path, :class => "btn btn-primary btn-xs" %>


